apiVersion: v1
kind: Service
metadata:
  name: payment-service
  namespace: microservices
spec:
  type: LoadBalancer
  selector:
    app: payment-service
  ports:
    - port: 3001
      targetPort: 3000
