
# ==========================================
# SHARED INFRASTRUCTURE 
# ==========================================
services:
  # RabbitMQ:
  rabbitmq:
    image: rabbitmq:3-management-alpine
    container_name: shared_rabbitmq
    restart: always
    ports:
      - "${RABBITMQ_EXTERNAL_PORT}:5672"   # Service connection port
      - "15672:15672"                      # Admin Panel
    environment:
      RABBITMQ_DEFAULT_USER: ${RABBITMQ_USER}
      RABBITMQ_DEFAULT_PASS: ${RABBITMQ_PASS}
    volumes:
      - rabbitmq_data:/var/lib/rabbitmq
    networks:
      - microservices-net

  # ==========================================
  # order-service 
  # ==========================================
  
  # 1. Order Database (PostgreSQL)
  order_db:
    image: postgres:15-alpine
    container_name: order_db_container
    restart: always
    environment:
      POSTGRES_USER: ${ORDER_DB_USER}
      POSTGRES_PASSWORD: ${ORDER_DB_PASS}
      POSTGRES_DB: ${ORDER_DB_NAME}
    ports:
      - "${ORDER_DB_EXTERNAL_PORT}:5432"
    volumes:
      - order_db_data:/var/lib/postgresql/data
    networks:
      - microservices-net

  # 2. Order Service (Node.js)
  order_service:
    image: order-service:latest
    build: 
      context: ./services/order-service # <--- آدرس دقیق پوشه سرویس
      dockerfile: Dockerfile
    container_name: order_service_container
    restart: on-failure
    depends_on:
      - rabbitmq
      - order_db
    ports:
      - "3000:3000" # API سفارشات روی پورت 3000
    environment:
      - NODE_ENV=${NODE_ENV}
      - PORT=3000
      - DB_HOST=order_db
      - DB_PORT=5432
      - DB_NAME=${ORDER_DB_NAME}
      - DB_USER=${ORDER_DB_USER}
      - DB_PASSWORD=${ORDER_DB_PASS}
      - RABBITMQ_URL=amqp://${RABBITMQ_USER}:${RABBITMQ_PASS}@rabbitmq:5672
      - JWT_SECRET=${JWT_SECRET}
    networks:
      - microservices-net

  # ==========================================
  # payment-service
  # ==========================================

  # 1. Payment Database (PostgreSQL)
  payment_db:
    image: postgres:15-alpine
    container_name: payment_db_container
    restart: always
    environment:
      POSTGRES_USER: ${PAYMENT_DB_USER}
      POSTGRES_PASSWORD: ${PAYMENT_DB_PASS}
      POSTGRES_DB: ${PAYMENT_DB_NAME}
    ports:
      - "${PAYMENT_DB_EXTERNAL_PORT}:5432"
    volumes:
      - payment_db_data:/var/lib/postgresql/data
    networks:
      - microservices-net

  # 2. Payment Service (Node.js)
  payment_service:
    image: payment-service:latest
    build: 
     context: ./services/payment-service
     dockerfile: Dockerfile
    container_name: payment_service_container
    restart: on-failure
    depends_on:
      - rabbitmq
      - payment_db
    ports:
      - "3001:3000" # Host Port 3001 -> Container Port 3000
    environment:
      - NODE_ENV=${NODE_ENV}
      - PORT=3000
      - DB_HOST=payment_db 
      - DB_PORT=5432
      - DB_NAME=${PAYMENT_DB_NAME}
      - DB_USER=${PAYMENT_DB_USER}
      - DB_PASSWORD=${PAYMENT_DB_PASS}
      - RABBITMQ_URL=amqp://${RABBITMQ_USER}:${RABBITMQ_PASS}@rabbitmq:5672
      - JWT_SECRET=${JWT_SECRET}
    networks:
      - microservices-net

  # ==========================================
  # notification-service
  # ==========================================

  # 1. MAILHOG
  mailhog:
    image: mailhog/mailhog
    container_name: mailhog
    ports:
      - "1025:1025" # پورت SMTP
      - "8025:8025" # پورت وب برای دیدن ایمیل‌ها
    networks:
      - microservices-net

  # 2. Notification Service (Node.js) 
  notification_service:
    image: notification-service:latest
    build: ./services/notification-service
    container_name: notification_service_container
    restart: on-failure
    environment:
      - RABBITMQ_URL=amqp://${RABBITMQ_USER}:${RABBITMQ_PASS}@rabbitmq:5672
      - SMTP_HOST=${SMTP_HOST}   # نام سرویس داکر
      - SMTP_PORT=${SMTP_PORT}
      - SMTP_USER=${SMTP_USER}
      - SMTP_PASS=${SMTP_PASS}
      - SMTP_FROM=${SMTP_FROM}
    depends_on:
      rabbitmq:
        condition: service_started
      mailhog:
        condition: service_started
    networks:
      - microservices-net


# ==========================================
# VOLUMES & NETWORKS
# ==========================================
volumes:
  rabbitmq_data:
  order_db_data:
  payment_db_data:

networks:
  microservices-net:
    driver: bridge