
services:
# ==========================================
# SHARED INFRASTRUCTURE 
# ==========================================

  # RabbitMQ:
  rabbitmq:
    image: rabbitmq:3-management-alpine
    container_name: shared_rabbitmq
    restart: always
    ports:
      - "${RABBITMQ_EXTERNAL_PORT}:5672"   
      - "15672:15672"                      # Admin Panel (Web)
    environment:
      RABBITMQ_DEFAULT_USER: ${RABBITMQ_USER}
      RABBITMQ_DEFAULT_PASS: ${RABBITMQ_PASS}
    volumes:
      - rabbitmq_data:/var/lib/rabbitmq
    networks:
      - microservices-net

  # ==========================================
  # USER SERVICE
  # ==========================================
  user_db:
    image: mongo:7.0
    container_name: user_db_container
    restart: always
    volumes:
      - user_db_data:/data/db
    networks:
      - microservices-net

  user_service:
    build:
      context: ./services/user-service
      dockerfile: Dockerfile
    container_name: user_service_container
    restart: on-failure
    depends_on:
      - user_db
      - rabbitmq
    ports:
      - "4000:4000"
    environment:
      PORT: 4000
      USER_MONGO_URI: mongodb://user_db:27017/userdb
      JWT_SECRET: ${JWT_SECRET}
      RABBITMQ_URL: amqp://${RABBITMQ_USER}:${RABBITMQ_PASS}@rabbitmq:5672
    networks:
      - microservices-net

  # ==========================================
  # PRODUCT SERVICE
  # ==========================================
  product_db:
    image: mongo:7.0
    container_name: product_db_container
    restart: always
    volumes:
      - product_db_data:/data/db
    networks:
      - microservices-net

  product_service:
    build:
      context: ./services/product-service
      dockerfile: Dockerfile
    container_name: product_service_container
    restart: on-failure
    depends_on:
      - product_db
      - rabbitmq
    ports:
      - "5001:5001"
    environment:
      PORT: 5001
      PRODUCT_MONGO_URI: mongodb://product_db:27017/productdb
      JWT_SECRET: ${JWT_SECRET}
      RABBITMQ_URL: amqp://${RABBITMQ_USER}:${RABBITMQ_PASS}@rabbitmq:5672
    networks:
      - microservices-net

  # ==========================================
  # ORDER SERVICE
  # ==========================================
  
  # 1. Order Database (PostgreSQL)
  order_db:
    image: postgres:15-alpine
    container_name: order_db_container
    restart: always
    environment:
      POSTGRES_USER: ${ORDER_DB_USER}
      POSTGRES_PASSWORD: ${ORDER_DB_PASS}
      POSTGRES_DB: ${ORDER_DB_NAME}
    ports:
      - "${ORDER_DB_EXTERNAL_PORT}:5432"
    volumes:
      - order_db_data:/var/lib/postgresql/data
    networks:
      - microservices-net

  # 2. Order Service (Node.js)
  order_service:
    image: order-service:latest
    build: 
      context: ./services/order-service 
      dockerfile: Dockerfile
    container_name: order_service_container
    restart: on-failure
    depends_on:
      - rabbitmq
      - order_db
    ports:
      - "3000:3000" 
    environment:
      - NODE_ENV=${NODE_ENV}
      - PORT=3000
      - DB_HOST=order_db
      - DB_PORT=5432
      - DB_NAME=${ORDER_DB_NAME}
      - DB_USER=${ORDER_DB_USER}
      - DB_PASSWORD=${ORDER_DB_PASS}
      - RABBITMQ_URL=amqp://${RABBITMQ_USER}:${RABBITMQ_PASS}@rabbitmq:5672
      - JWT_SECRET=${JWT_SECRET}
    networks:
      - microservices-net

  # ==========================================
  # PAYMENT SERVICE
  # ==========================================

  # 1. Payment Database (PostgreSQL)
  payment_db:
    image: postgres:15-alpine
    container_name: payment_db_container
    restart: always
    environment:
      POSTGRES_USER: ${PAYMENT_DB_USER}
      POSTGRES_PASSWORD: ${PAYMENT_DB_PASS}
      POSTGRES_DB: ${PAYMENT_DB_NAME}
    ports:
      - "${PAYMENT_DB_EXTERNAL_PORT}:5432"
    volumes:
      - payment_db_data:/var/lib/postgresql/data
    networks:
      - microservices-net

  # 2. Payment Service (Node.js)
  payment_service:
    image: payment-service:latest
    build: 
     context: ./services/payment-service
     dockerfile: Dockerfile
    container_name: payment_service_container
    restart: on-failure
    depends_on:
      - rabbitmq
      - payment_db
    ports:
      - "3001:3000" 
    environment:
      - NODE_ENV=${NODE_ENV}
      - PORT=3000
      - DB_HOST=payment_db 
      - DB_PORT=5432
      - DB_NAME=${PAYMENT_DB_NAME}
      - DB_USER=${PAYMENT_DB_USER}
      - DB_PASSWORD=${PAYMENT_DB_PASS}
      - RABBITMQ_URL=amqp://${RABBITMQ_USER}:${RABBITMQ_PASS}@rabbitmq:5672
      - JWT_SECRET=${JWT_SECRET}
    networks:
      - microservices-net

  # ==========================================
  # NOTIFICATION SERVICE
  # ==========================================

  # 1. MAILHOG
  mailhog:
    image: mailhog/mailhog
    container_name: mailhog
    ports:
      - "1025:1025" 
      - "8025:8025" # Emails Panel (Web)
    networks:
      - microservices-net

  # 2. Notification Service (Node.js) 
  notification_service:
    image: notification-service:latest
    build: ./services/notification-service
    container_name: notification_service_container
    restart: on-failure
    environment:
      - RABBITMQ_URL=amqp://${RABBITMQ_USER}:${RABBITMQ_PASS}@rabbitmq:5672
      - SMTP_HOST=${SMTP_HOST}   
      - SMTP_PORT=${SMTP_PORT}
      - SMTP_USER=${SMTP_USER}
      - SMTP_PASS=${SMTP_PASS}
      - SMTP_FROM=${SMTP_FROM}
    depends_on:
      rabbitmq:
        condition: service_started
      mailhog:
        condition: service_started
    networks:
      - microservices-net


# ==========================================
# VOLUMES & NETWORK
# ==========================================
volumes:
  rabbitmq_data:
  user_db_data:
  product_db_data:
  order_db_data:
  payment_db_data:

networks:
  microservices-net:
    driver: bridge
