apiVersion: v1
kind: Service
metadata:
  name: notification-service
  namespace: microservices
spec:
  type: LoadBalancer
  selector:
    app: notification-service
  ports:
    - port: 3002
      targetPort: 3000
