apiVersion: v1
kind: Service
metadata:
  name: mailhog
  namespace: microservices
spec:
  type: LoadBalancer
  selector:
    app: mailhog
  ports:
    - name: smtp
      port: 1025
    - name: web
      port: 8025
